<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<head>
    <title>Stop Cyberbulling with ISWK</title>
    <link rel="shortcut icon" href="https://raw.githubusercontent.com/Pat12Gamer/ICT-2022/main/iswki-logo.png">
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@1,700&family=Poppins:wght@200&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="chatbox">
            <div class="chatbox__support">
                <div class="chatbox__header">
                    <div class="chatbox__image--header">
                        <img src="https://img.icons8.com/external-flaticons-flat-flat-icons/344/external-chatbot-digital-marketing-flaticons-flat-flat-icons.png" width="70" height="70" alt="C0D3X">
                    </div>
                    <div class="chatbox__content--header">
                        <h4 class="chatbox__heading--header">Chat support-C0DY</h4>
                        <p class="chatbox__description--header">WELCOME TO THE CHAT SUPPORT {-||C0D3X||-} </p>
                    </div>
                </div>
                <div class="chatbox__messages">
                    <div></div>
                </div>
                <div class="chatbox__footer">
                    <input type="text" placeholder="Write a message...">
                    <button class="chatbox__send--footer send__button"><input type="image" name="SEND" 
                        src="https://img.icons8.com/external-bartama-outline-32-bartama-graphic/344/external-email-e-mail-bartama-outline-32-bartama-graphic-7.png" alt="text" height="50" width="125"></button>
                </div>
            </div>
            <div class="chatbox__button">
                <button><img src="{{ url_for('static', filename='images/chatbox-icon.svg') }}" /></button>
            </div>
        </div>
    </div>
    <div class="container1">
        <div class="menu">
            <ul>
                <li class="logo"><img src="https://raw.githubusercontent.com/Pat12Gamer/ICT-2022/main/iswki-logo.png"></li>
                <a class="active"   href="/base">Home</a>
                <a href="/team">Team</a>
                <a href="https://forms.gle/HGpfaP7hCQDxH5LYA">Report</a> 
            </ul>
        </div>
    </div>
    <div class="Text">
        <div>
            <h1 class="h1">
              Cyberbullying: What is it and how to stop it
            </h1>
            <h3 class="sub-title-center">
                What teens want to know about cyberbullying.
            </h3>
        </div>
        
        <div class="super-img">
            <img src="https://raw.githubusercontent.com/Pat12Gamer/ICT-2022/main/SID_2020_Hero_0.jpg" alt="">
        </div>
        <h4>What is cyberbullying?</h4>
        <p>Cyberbullying is bullying with the use of digital technologies. It can take place on social media, messaging platforms, gaming platforms and mobile phones. It is repeated behaviour, aimed at scaring, angering or shaming those who are targeted. Examples include:</p>
        <div class="lol">
            <ul>
                <li>spreading lies about or posting embarrassing photos or videos of someone on social media</li>
                <li>sending hurtful, abusive or threatening messages, images or videos via messaging platforms</li>
                <li>impersonating someone and sending mean messages to others on their behalf or through fake accounts.</li>
            </ul>
        </div>
        <p>Face-to-face bullying and cyberbullying can often happen alongside each other. But cyberbullying leaves a digital footprint – a record that can prove useful and provide evidence to help stop the abuse.</p>
        <hr/>
            <blockquote>
                <p>The first line of defense against cyberbullying could be you.</p>
            </blockquote>
        <hr/>
        <br>
        <h4>What are the effects of cyberbullying?</h4>
        <br>
        <p>When bullying happens online it can feel as if you’re being attacked everywhere, even inside your own home. It can seem like there’s no escape. The effects can last a long time and affect a person in many ways:</p>
        <div class="lol">
            <ul>
                <li>Mentally – feeling upset, embarrassed, stupid, even afraid or angry</li>
                <li>Emotionally – feeling ashamed or losing interest in the things you love</li>
                <li>Physically – tired (loss of sleep), or experiencing symptoms like stomach aches and headaches </li>
            </ul>
        </div>
        <hr/>
            <blockquote>
                <p>For bullying to stop, it needs to be identified and reporting it is key.</p>
            </blockquote>
        <hr/>
        <br>
        <h4>I’m experiencing cyberbullying, but I’m afraid to talk to my parents about it. How can I approach them?</h4>
        <p>If you are experiencing cyberbullying, speaking to a trusted adult – someone you feel safe talking to – is one of the most important first steps you can take.<br>Talking to parents isn’t easy for everyone. But there are things you can do to help the conversation. Choose a time to talk when you know you have their full attention. Explain how serious the problem is for you. Remember, they might not be as familiar with technology as you are, so you might need to help them to understand what’s happening.<br>They might not have instant answers for you, but they are likely to want to help and together you can find a solution. Two heads are always better than one! If you are still unsure about what to do, consider reaching out to other trusted people. There are often more people who care about you and are willing to help than you might think!</p>
        <br>
        <h4>How can I help my friends report a case of cyberbullying especially if they don’t want to do it?</h4>
        <p>Anyone can become a victim of cyberbullying. If you see this happening to someone you know, try to offer support.<br>It is important to listen to your friend. Why don’t they want to report being cyberbullied? How are they feeling? Let them know that they don’t have to formally report anything, but it’s crucial to talk to someone who might be able to help.</p>
        <hr/>
            <blockquote>
                <p>Anyone can become a victim of cyberbullying.</p>
            </blockquote>
        <hr/>
        <br>
        <br>
        <hr/>
            <blockquote>
                <p>We need to be thoughtful about what we share or say that may hurt others..</p>
            </blockquote>
        <hr/>
        <br>
        <h4>Are there any online anti-bullying tools for children or young people?</h4>
        <p>Each social platform offers different tools that allow you to restrict who can comment on or view your posts or who can connect automatically as a friend, and to report cases of bullying. Many of them involve simple steps to block, mute or report cyberbullying. We encourage you to explore them.</p>
        <p>Social media companies also provide educational tools and guidance for children, parents and teachers to learn about risks and ways to stay safe online.</p>
        <p>Also, the first line of defense against cyberbullying could be you. Think about where cyberbullying happens in your community and ways you can help – by raising your voice, calling out bullies, reaching out to trusted adults or by creating awareness of the issue. Even a simple act of kindness can go a long way.</p>
        <hr/>
            <blockquote>
                <p>Anyone can become a victim of cyberbullying.</p>
            </blockquote>
        <hr/>
        <br>
        <br>
        <h1 class="h1">Thankyou for reading.... More info coming soon.. </h1>
    </div>

    

    <script type =text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson }};
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>

</body>
</html>